@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap');


.container {
	background-color: #031049ea;
	border-radius: 50px;
    color: #fff;
	padding: 25px 40px;
	width: 100%;
	max-width: 700px;
    height: auto;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
}




.container form .userdet{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;

}

/*.form {
	padding: 30px 40px;	
}*/

.form-control {
	width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
	position: relative;
}

.form-control label {
	display:block;
	margin-bottom: 5px;
	font-weight: 500;
}

.form-control input {
	border: 2px solid rgb(0, 0, 0);
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
	border-radius: 4px;
	font-family: inherit;
	height: 45px;
	width: 100%;
	outline: none;
}

.form-control input:focus {
	border-color: rgb(255, 255, 255);
    border-width: 3px;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	left: 10px;
	top: 70px;
	
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}


form .button{
    
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 550%;
    outline: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg,#0bbfec,#011733);
}

form .button input:hover{
    background: linear-gradient(-135deg,#011733,#ffffff);
	color: #000155;
	font-weight: 500;
}



#dot-1:checked~ .category label .one,
#dot-2:checked~ .category label .two,
#dot-3:checked~ .category label .three{
    border-color: #000000;
    background: #0d0081;
}


