
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}
/* SCROLL BAR  */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #132945;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.226);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #204575;
  }

/* NAVBAR STYLING BEGINS HERE */
.navbar {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    font-family: 'Source Sans Pro', sans-serif;
}

.brand-title {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0.5rem;
}
  
.navbar-links {
    height: 100%;
}
  
.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}
  
.navbar-links li {
    list-style: none;
}
  
.navbar-links li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #132945;
    font-size: 14px;
    padding: 1rem;
    opacity: 0.75;
}
.toggle-button {
    position: absolute;
    top: 20px;
    right: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}
  
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #031D44;
    border-radius: 10px;
}
  
@media (max-width: 800px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .toggle-button {
      display: flex;
    }
  
    .navbar-links {
      display: none;
      width: 100%;
    }
  
    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
  
    .navbar-links ul li {
      text-align: center;
    }
  
    .navbar-links ul li a {
      padding: 0.5rem 1rem;
    }
  
    .navbar-links.active {
      display: flex;
    }
}
/* NAVBAR STYLING ENDS HERE */

header{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

header h2{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 75px;
}
.underText{
    color: white;
    margin-top:38px;
    font-size: 16px;
    padding: 10px;
    
}
.about-me{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    /* flex-wrap: wrap; */
}

.about-me h2{
    font-size: 50px;
    position: relative;
}
.about-me h2::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 3%;
    background-color: #132945;
    animation: h2-bottom 1s infinite ease-in-out alternate;
}
@keyframes h2-bottom{
    0%{
        width: 0px;
    }
    100%{
        width: 100%;
    }
}

.about-contents{
    display: flex;
    /* padding: 2rem; */
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    max-height: fit-content;

}

.about-box{
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px 2px #132945;
    margin: 30px;
    flex: 1;

}

.about-img{
    padding: 50px;
    margin-left: 10rem;
    flex: 1;  
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #132945;
    color: white;
    padding: 2rem;

}
.projects h2{
    font-size: 50px;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}
.projects h2::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 3%;
    background-color: white;
    animation: h2-bottom 1s infinite ease-in-out alternate;

}
.projects-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.card{
    /* background-color: rgb(0, 143, 143,0.1); */
    box-shadow: 0px 2px 10px 2px rgb(255, 255, 255,0.3);
    color: black;
    padding: 20px;
    margin: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
    width: 200px;
}

.proName{
    font-size: 35px;
    color: white;
}
.proLink{
    background: #005eda;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin: 10px;
}
.desc{
    color: #88bafc;
}
.education{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

.education h2{
    font-size: 50px;
    position: relative;
}
.education h2::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 3%;
    background-color: #132945;
    animation: h2-bottom 1s infinite ease-in-out alternate;
}
.education-box{
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px 2px #132945;
    margin: 30px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.column{
    float:left;
}
.vertical {
    border-left: 3px solid black;
    height: 140px;
    position:flex;
    left: 50%;
          }
.skills{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #132945;
    color: white;
    padding: 20px;
}
.skills h2{
    font-size: 50px;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}
.skills h2::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 3%;
    background-color: white;
    animation: h2-bottom 1s infinite ease-in-out alternate;

}
.skills-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-card{
    /* background-color: rgb(0, 143, 143,0.1); */
    box-shadow: 0px 2px 10px 2px rgb(255, 255, 255,0.3);
    color: black;
    padding: 20px;
    margin: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skill{
    color: white;
}


/*Mobile Screen*/
@media screen and (max-width:768px){
    .education-box{
        padding: 10px;
        flex-direction: column;
    }
    .vertical {
        border-left: 0;
        height:auto;
        border-top: 3px solid black;
        width: 70%;
    }
}
.education-subsection{
    padding: 2rem;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

